<div class="container mx-auto mt-5 mb-10 px-4 flex justify-center">
  <div class="w-full max-w-md">
    <h1 class="text-3xl font-bold mb-3">Search Recipes</h1>
    <%= form_tag(search_index_path, method: "get", class: "flex flex-col gap-2") do %>
        <%= label_tag :ingredients, "Ingredients (comma separated)", class: "text-base font-medium" %>
        <%= text_field_tag :ingredients, params[:ingredients], class: "border rounded-md px-3 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500", id: "ingredients", placeholder: "e.g., egg, flour, baking powder, milk", required: true %>
      <%= submit_tag "Search Recipes", class: "bg-blue-500 text-white rounded-md py-2 px-4 hover:bg-blue-700" %>
    <% end %>
    <div id="results"></div>
  </div>
</div>
